{{> head }}

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Página about</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum rem excepturi voluptates quia incidunt earum ab explicabo maiores exercitationem possimus. Vel harum numquam tempora dignissimos aliquid voluptatum dicta facilis voluptatem!
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/car.jpg" class="img-thumbnail">
        </div>
        
    </div>

{{> footer }}